@import url(normalize.css);

body{
	font-size : 0;
	background-color : gray;
	height : 3000px;
	font-family : 'Muli', sans-serif;
	&.modal-in{
		position:fixed;
        width:100%;
        height: 100%;
	}
}